<!-- dwitter/templates/dwitter/profile.html -->

{% extends 'base.html' %}

{% block content %}


<div class="block">
    <figure class="image is-128x128">
        {% if user != profile_user.user %}
            <img class="is-rounded" src="{{profile_user.image.url}}">
        {%else%}
        <a href="{% url 'dwitter:profile_update' pk=user.profile.id %}">
            <img class="is-rounded" src="{{profile_user.image.url}}">
        </a>
        {%endif%}
    </figure>
</div>

<div class="column">
    <div class="block">
    <h3 class="title is-1">
        {{profile_user.user.username|upper}}'s Dweets
    </h3>
        <p>{{profile_user.user.email|lower}}</p><br>
    <form method="post">
    {% csrf_token%}
    <div class="buttons has-addons">
    {% if profile_user in user.profile.follows.all %}
        <button class="button is-success is-static">Follow</button>
        <button class="button is-danger" name="follow" value="unfollow">
            Unfollow
        </button>
    {% else %}
        <button class="button is-success" name="follow" value="follow">
            Follow
        </button>
        <button class="button is-danger is-static">Unfollow</button>
    {% endif %}
</div>
    </form>

    </div>
    <div class="content">
    {% for dweet in profile_user.user.dweets.all %}
    <div class="box">
        {{dweet.body}}
        <span class="is-small has-text-grey-light">
                ({{ dweet.created_at }})
        </span>
    </div>
    {% endfor %}
</div>

</div>

<div class="column is-one-third">

    <div class="block">
        <a href="{% url 'dwitter:profile_list'%}">
            <button class="button is-dark is-outlined is-fullwidth">
                All Profiles
            </button>
        </a>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile_user.user.username}} follows:
        </h3>
        <div class="content">
            <ul>
            {% for following in profile_user.follows.all %}
<!--                {% if following == None %}-->

<!--                <li>Something</li>-->
<!--                {% endif %}-->

                <li>
                    <a href="{% url 'dwitter:profile' following.id %}">
                        {{ following }}
                    </a>
                </li>

            {% endfor %}

            </ul>
        </div>
    </div>

    <div class="block">
        <h3 class="title is-4">
            {{profile_user.user.username}} is followed by:
        </h3>
        <div class="content">
            <ul>
            {% for follower in profile_user.followed_by.all %}
                <li>
                    <a href="{% url 'dwitter:profile' follower.id %}">
                        {{ follower }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

</div>



{% endblock content %}